:root {
  --main-orange: #FF8C00;
  --main-cyan: #008080;
  --main-yellow: #FFD700;
  --main-green: #228B22;
  --main-magenta: #DC143C;
  --main-grey: #808080;
  --light-grey: #c0c0c0;
  --main-black: #000;
  --main-white: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
